<div class="row">
    <div class="col-md-5">
        <!-- 87.8 receive event recipeWasSelected and pass it into template "", not recommended unless one line of code only -->
        <app-recipe-list (recipeWasSelected)="selectedRecipe = $event">
        </app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- 87.9 -->
        <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe">
        </app-recipe-detail>
        <ng-template #infoText>
            <p>Please select a recipe!</p>
        </ng-template>
    </div>
</div>